@import "compass/utilities/sprites";
@import 'icon/*.png';
@include all-icon-sprites;
@import url('https://fonts.googleapis.com/css?family=Raleway|Taviraj');

i {
	height: 100px;
	width: 100px;
	display: inline-block;
}

li{
	list-style: none;
	display: inline-block;
	padding: 10px;
	a{
		display: inline-block;
		width: 100px;
		height: 100px;
		span{
			position: absolute;
			top: -9999em;
			left: -9999em;
		}//span
	}
}

body{
	background-color: rgb(255,174,136);
	max-width: 960px;
	float: center; /*why isnt this working?*/
	font-family: 'Raleway', sans-serif; /*why isnt this working?*/
}

h1, h2, h3{
	font-family: 'Taviraj', serif; /*why isnt this working?*/
}

a{
	text-decoration: none;
	color: rgb(255,127,123);
}

a:hover {
	color: rgb(232,133,112);
}